body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background: #00aeef;
}

ul {
    padding-inline-start: 20px;
}

.container {
    max-width: 1140px;
    margin: 0 20px;
    padding: 0 15px;
}

.navbar {
    background-color: #ffffff;
    padding: 20px 0;
    border-bottom: 3px solid #e9943e;
    border-top: 3px solid #e9943e;
    box-shadow: #0000003b 0px 10px 5px -5px;
}

.navbar .logo {
    height: 50px;
}

.sidebar {
    color: #ffffff;
    height: 0%;
}

.frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    width: 60%;
    min-height: 100px;
    margin: 0 auto;
    padding: 50px 20px;
    border-bottom: 3px solid #f78f1e;
    border-right:3px solid #f78f1e;
    border-left:3px solid #f78f1e;
    border-top: 3px solid #f78f1e;
}

.frame:before {
    content: "";
    position: absolute;
    left: -3px;
    top: -3px;
    width: 10%;
    height: 10%;
    border-top: none;
    border-bottom: none;
}

.frame .caption {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 80px;
    color: #00aeef;
    border-bottom: 1px solid #f78f1e;
}

.frame table {
    margin: auto;
    border-collapse: collapse;
    margin-top: 20px;
}

.frame table td {
    padding: 5px 5px;
}

.frame td.label {
    padding-right: 10px;
    font-size: large;
    color: #f78f1e;
}

.frame td.value {
    display:inline-block;
    font-size: large;
    color: #000000;
}
.navbar-nav button {
    z-index: 100000;
}
input[type="submit"] {
    display: block;
    margin: 0 auto;
}
