body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

ul {
    padding-inline-start: 20px;
}

.container {
    max-width: 1140px;
    margin: 0 20px;
    padding: 0 15px;
}

.navbar {
    background-color: #ffffff;
    padding: 20px 0;
    border-bottom: 3px solid #e9943e;
    box-shadow: #0000003b 0px 10px 5px -5px;
}

.navbar .logo {
    height: 50px;
}

.copyright {
    font-weight: 300;
    text-align: center;
    font-size: 14px;
    width: 100%;
    padding: 20px 0;
    background-color: #ffffff;
    border-top: 2px solid #e9943e;
}
