body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #00aeef;
    margin: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.navbar {
    background-color: #ffffff;
    padding: 20px 0;
    border-bottom: 3px solid #F78F1EFF;
    box-shadow: #0000003b 0px 10px 5px -5px;
}

.navbar .logo {
    height: 50px;
}

.login {
    margin-top: 100px;
}

.login .form-frame {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: #0000003d 0px 3px 8px;
    margin: 0 auto;
    width: 400px;
    padding: 25px;
}

.login .form-frame h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
}

.login .form-frame button {
    background-color: #F78F1EFF;
    width: 100%;
    color: #ffffff;
    padding: 15px;
    margin: auto 0px;
    border: none;
    cursor: pointer;
    font-size: 16px;

    letter-spacing: 1px;
    text-decoration:none;
}

.form-input {
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    margin: 10px 0px;
    padding: 11px 20px;
    display: inline-block;
    border: 2px solid #F78F1EFF;
    box-sizing: border-box;
}
button:hover {
    opacity: 0.7;
}
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    margin: 10px 5px;
}

.footer {
    font-weight: 300;
    text-align: center;
    font-size: 14px;
    width: 100%;
    padding: 20px 0;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    border-top: 2px solid #F78F1EFF;
}