.body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
.mainmenu {
    width:100%;
    text-align: center;
    display: block;
    background-color: #00aeef;
    width: max-content;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}
.mainmenuframe {
    width: 100%;
    background: #00aeef;
    display: flex;
    justify-content: center;
    border-bottom: 3px solid #e9943e;
    box-shadow: #0000003b 0px 10px 5px -5px;

}
.mainmenu li {
    background-color: #00aeef;
    list-style: none;
    color: #e9943e;
    font-weight: 300;
    padding: 6px 12px;
    float:left;
}

.mainmenu ul {
    list-style-type: none ;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #00aeef;
}
.mainmenu li a {
    width: 100%;
    color: #ffffff;
    text-decoration: none;
    display: block;
}
 .mainheader {
     font-weight: 400;
     font-size: 18px;
     Padding: 0 25px;

}