.body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
.mainmenu {
    background-color: #00aeef;
    width: max-content;
    margin: 0;
    padding: 0;
    display: inline-block;
    box-shadow: #00000067 4px 0px 8px -1px;
    list-style-type: none;
    overflow: hidden;
}

.mainmenu li a {
    width: 100%;
    color: #ffffff;
    text-decoration: none;
    display: block;
}
 .mainheader {
    font-weight: 400;
    font-size: 18px;
     text-decoration: none;
     text-align: center;
     display: block;
     color: white;
     border-right: 2px solid #ffffff;
     padding: 14px 109px;
}
.mainmenu li {
    background-color: #00aeef;
    list-style: none;
    color: #e9943e;
    font-weight: 300;
    padding: 6px 12px;
    float:left;
}
.footer {
    font-weight: 300;
    text-align: center;
    font-size: 14px;
    width: 100%;
    padding: 20px 0;
    background-color: #ffffff;
    bottom: 0;
    border-top: 2px  #f78f1e;
}
