.frame {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 60%;
    height: 100%;
    margin: 0 auto;
    padding: 50px 20px;
    border-bottom: 3px solid #f78f1e;
    border-right:3px solid #f78f1e;
    border-left:3px solid #f78f1e;
    border-top: 3px solid #f78f1e;

}

.frame:before {
    content: "";
    position: absolute;
    left: -3px;
    top: -3px;
    width: 10%;
    height: 10%;
    border-top: none;
    border-bottom: none;
}

.frame .caption {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 80px;
    color: #00aeef;
    border-bottom: 1px solid #f78f1e;

}

.frame table {
    margin: auto;
    border-collapse: collapse;
    margin-top: 20px;

}

.frame table td {
    padding: 20px 10px;
}

.frame td.label {
    padding-right: 10px;
    font-size: large;
    color: #f78f1e;
}

.frame td.value {
    font-size: large;
    color: #000000;
}

.navbar-nav button {
    z-index: 100000;
}

